# Date-type Variable Processing
## Examples of Date-type and Time-type Data

In [1]:
import pandas as pd
data = pd.DataFrame({'date_time': pd.date_range('1/1/2026 00:00:00', periods = 12, freq = 'H'),
                        'date': pd.date_range('2026-1-1', periods = 12, freq = 'M')})

data

C:\Users\lenovo\AppData\Local\Temp\ipykernel_25208\147413562.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data = pd.DataFrame({'date_time': pd.date_range('1/1/2026 00:00:00', periods = 12, freq = 'H'),
C:\Users\lenovo\AppData\Local\Temp\ipykernel_25208\147413562.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'date': pd.date_range('2026-1-1', periods = 12, freq = 'M')})

             date_time       date
0  2026-01-01 00:00:00 2026-01-31
1  2026-01-01 01:00:00 2026-02-28
2  2026-01-01 02:00:00 2026-03-31
3  2026-01-01 03:00:00 2026-04-30
4  2026-01-01 04:00:00 2026-05-31
5  2026-01-01 05:00:00 2026-06-30
6  2026-01-01 06:00:00 2026-07-31
7  2026-01-01 07:00:00 2026-08-31
8  2026-01-01 08:00:00 2026-09-30
9  2026-01-01 09:00:00 2026-10-31
10 2026-01-01 10:00:00 2026-11-30
11 2026-01-01 11:00:00 2026-12-31

## Extracting Feature Variables from Date/Time

In [8]:
data['year'] = data['date_time'].dt.year
data['month'] = data['date_time'].dt.month
data['day'] = data['date_time'].dt.day
data['hour'] = data['date_time'].dt.hour
data['minute'] = data['date_time'].dt.minute
data['second'] = data['date_time'].dt.second
data['quarter'] = data['date_time'].dt.quarter
#data['week'] = data['date_time'].dt.isocalendar().week #dt.week已经不能用了
data['week'] = data['date_time'].dt.strftime('%V').astype(int)

data['yearmonth'] = data['date_time'].dt.strftime("%Y-%m")
data['halfyear'] = data['date_time'].map(lambda d: 'H1' if d.month <= 6 else 'H2')
data

,date_time,date,year,month,day,hour,minute,second,quarter,week,yearmonth,halfyear
0,2026-01-01 00:00:00,2026-01-31,2026,1,1,0,0,0,1,1,2026-01,H1
1,2026-01-01 01:00:00,2026-02-28,2026,1,1,1,0,0,1,1,2026-01,H1
2,2026-01-01 02:00:00,2026-03-31,2026,1,1,2,0,0,1,1,2026-01,H1
3,2026-01-01 03:00:00,2026-04-30,2026,1,1,3,0,0,1,1,2026-01,H1
4,2026-01-01 04:00:00,2026-05-31,2026,1,1,4,0,0,1,1,2026-01,H1
5,2026-01-01 05:00:00,2026-06-30,2026,1,1,5,0,0,1,1,2026-01,H1
6,2026-01-01 06:00:00,2026-07-31,2026,1,1,6,0,0,1,1,2026-01,H1
7,2026-01-01 07:00:00,2026-08-31,2026,1,1,7,0,0,1,1,2026-01,H1
8,2026-01-01 08:00:00,2026-09-30,2026,1,1,8,0,0,1,1,2026-01,H1
9,2026-01-01 09:00:00,2026-10-31,2026,1,1,9,0,0,1,1,2026-01,H1
10,2026-01-01 10:00:00,2026-11-30,2026,1,1,10,0,0,1,1,2026-01,H1
11,2026-01-01 11:00:00,2026-12-31,2026,1,1,11,0,0,1,1,2026-01,H1

## Convert to Relative Time Features

In [21]:
import datetime

# Interval from Today (Number of Days)
# data['deltaDayToToday'] = (datetime.date.today() - data['date'].dt.date).df.days #wrong 超过当前系统时间了
# 使用 pandas 的 Timestamp.today()，确保两边都是 pandas datetime 类型
data['deltaDayToToday'] = (pd.Timestamp.today() - data['date']).dt.days

# Interval from Today (Number of Months)
data['deltaMonthToToday'] = datetime.date.today().month - data['date'].dt.month

# Progress of the Passed Year
data['daysOfYear'] = data['date'].map(lambda d: 366 if d.is_leap_year else 365)
data['rateOfYear'] = data['date'].dt.dayofyear/data['daysOfYear']

data.head()

,date_time,date,year,month,day,hour,minute,second,quarter,week,yearmonth,halfyear,deltaDayToToday,deltaMonthToToday,daysOfYear,rateOfYear
0,2026-01-01 00:00:00,2026-01-31,2026,1,1,0,0,0,1,1,2026-01,H1,-11,0,365,0.084932
1,2026-01-01 01:00:00,2026-02-28,2026,1,1,1,0,0,1,1,2026-01,H1,-39,-1,365,0.161644
2,2026-01-01 02:00:00,2026-03-31,2026,1,1,2,0,0,1,1,2026-01,H1,-70,-2,365,0.246575
3,2026-01-01 03:00:00,2026-04-30,2026,1,1,3,0,0,1,1,2026-01,H1,-100,-3,365,0.328767
4,2026-01-01 04:00:00,2026-05-31,2026,1,1,4,0,0,1,1,2026-01,H1,-131,-4,365,0.413699