In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
titanic = pd.read_csv('../02数据预备_清洗及特征工程/data/titanic.csv')

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
# 计算年龄均值
titanic['Age'].mean()

29.69911764705882

In [7]:
# 计算年龄方差
titanic['Age'].var()

211.0191247463081

In [8]:
# 计算年龄标准差
titanic['Age'].std()

14.526497332334044

In [9]:
# 计算年龄最小值
titanic['Age'].min()

0.42

In [10]:
# 计算年龄最大值
titanic['Age'].max()

80.0

In [11]:
# 绘制年龄频率分布直方图
titanic.hist(column = 'Age', bins = 50)

array([[<Axes: title={'center': 'Age'}>]], dtype=object)

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
# 得到Age平均值
age_mean = titanic['Age'].mean()
age_mean

29.69911764705882

In [14]:
# 处理Age缺失值
titanic['Age'].fillna(age_mean, inplace = True)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

C:\Users\lenovo\AppData\Local\Temp\ipykernel_31832\3558097833.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Age'].fillna(age_mean, inplace = True)

In [15]:
# 中心化转换
# 查看中心化后的结果
titanic['Age_centered'] = titanic['Age'] - titanic['Age'].mean() # 计算方法：Age - Age均值
titanic['Age_centered']

0      -7.699118
1       8.300882
2      -3.699118
3       5.300882
4       5.300882
         ...
886    -2.699118
887   -10.699118
888     0.000000
889    -3.699118
890     2.300882
Name: Age_centered, Length: 891, dtype: float64

In [16]:
print(f'mean: {titanic['Age_centered'].mean():.6f}') # 验证

mean: 0.000000

In [17]:
#下面用sklearn快速实现
from sklearn.preprocessing import StandardScaler, MinMaxScaler #标准化 、 归一化

In [18]:
#age_series = titanic['Age'].fillna(age_mean, inplace = True)
#FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
#The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.
#For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.
age_series = titanic['Age'].fillna(age_mean)

In [19]:
# 计算年龄标准差
# age_normalized = (age_series - age_series.min()) / (age_series.max() - age_series.min()) #手动计算公式
# 年龄标准化转换
scaler = StandardScaler()
age_standardized_sk = scaler.fit_transform(age_series.values.reshape(-1, 1)).flatten()

# 查标准化后结果
age_standardized_sk

array([-0.5924806 ,  0.63878901, -0.2846632 ,  0.40792596,  0.40792596,
        0.        ,  1.87005862, -2.13156761, -0.20770885, -1.20811541,
       -1.97765891,  2.17787603, -0.7463893 ,  0.71574336, -1.20811541,
        1.94701297, -2.13156761,  0.        ,  0.10010856,  0.        ,
        0.40792596,  0.33097161, -1.13116105, -0.1307545 , -1.66984151,
        0.63878901,  0.        , -0.82334365,  0.        ,  0.        ,
        0.79269771,  0.        ,  0.        ,  2.79351083, -0.1307545 ,
        0.94660642,  0.        , -0.66943495, -0.900298  , -1.20811541,
        0.79269771, -0.20770885,  0.        , -2.05461326, -0.82334365,
        0.        ,  0.        ,  0.        ,  0.        , -0.900298  ,
       -1.74679586, -0.66943495,  1.48528687, -0.05380014,  2.71655648,
        0.        , -0.66943495, -0.09227732, -1.90070456, -1.43897846,
       -0.5924806 ,  0.63878901,  1.17746947, -1.97765891,  0.        ,
        0.        , -0.05380014, -0.82334365, -0.97725235, -0.2846632 ,
        0.17706291, -1.0542067 , -0.66943495, -0.2846632 ,  0.17706291,
       -0.36161755,  0.        ,  0.        , -2.2216042 ,  0.02315421,
       -0.5924806 , -0.05380014,  0.        , -0.1307545 , -0.97725235,
        0.25401726, -1.0542067 ,  0.        , -0.51552625, -0.4385719 ,
       -0.05380014, -0.7463893 ,  1.25442382, -0.2846632 ,  2.25483038,
        0.        ,  3.17828259, -0.51552625,  0.33097161,  0.33097161,
       -0.1307545 ,  0.        , -0.66943495,  0.25401726,  0.56183466,
       -0.1307545 , -0.66943495,  0.        ,  0.63878901,  0.        ,
        1.33137817, -1.16963823, -0.5924806 , -0.7463893 , -0.97725235,
       -0.66943495,  3.13980541, -0.05380014, -0.4385719 , -2.13156761,
       -0.66943495,  0.        ,  0.21554008,  0.21554008,  1.87005862,
       -1.36202411,  0.        , -0.4385719 ,  0.        ,  1.17746947,
        0.25401726, -0.7463893 ,  1.33137817, -0.05380014, -0.36161755,
       -0.51552625, -0.82334365,  0.56183466, -1.0542067 , -0.4385719 ,
        0.        , -0.5924806 , -0.4385719 , -0.82334365, -0.900298  ,
       -0.82334365, -0.20770885, -1.59288716,  0.52335749,  0.94660642,
        1.63919557, -0.5924806 ,  1.98549015,  0.83117489,  0.        ,
        1.63919557, -1.0542067 ,  0.02315421,  0.        ,  0.        ,
        1.10051512,  0.79269771, -0.2846632 , -0.97725235, -2.20852197,
       -1.59288716,  0.        ,  1.17746947,  0.        , -0.1307545 ,
        2.40873908, -1.97765891, -2.20852197, -0.66943495,  2.02396733,
       -0.900298  ,  0.        ,  1.56224122,  0.02315421,  0.48488031,
        0.        ,  0.        , -1.59288716, -2.20852197, -1.97765891,
        0.        ,  0.        ,  1.17746947,  0.79269771,  0.48488031,
        0.17706291, -0.82334365, -0.82334365, -2.05461326,  1.10051512,
        2.17787603,  0.        ,  0.94660642,  0.        , -0.4385719 ,
       -0.1307545 ,  0.        ,  0.33097161,  1.21594664, -0.900298  ,
       -2.13156761,  0.17706291, -0.2846632 , -1.0542067 ,  0.79269771,
       -0.4385719 ,  0.40792596, -0.5924806 ,  0.02315421,  0.        ,
        0.10010856, -0.20770885,  0.94660642,  0.17706291,  0.02315421,
       -1.0542067 , -0.20770885,  1.63919557,  0.        ,  0.63878901,
       -0.5924806 , -0.82334365, -0.70791213, -0.900298  ,  0.        ,
        0.40792596, -0.05380014,  2.25483038, -1.90070456, -0.4385719 ,
        0.        ,  1.10051512, -1.66984151, -0.82334365,  0.25401726,
        0.        ,  0.        , -0.05380014, -0.5924806 ,  0.02315421,
        1.10051512, -0.36161755, -0.4385719 ,  0.56183466,  1.87005862,
        0.        , -0.05380014,  2.48569343,  0.02315421,  0.86965206,
       -0.05380014,  0.        ,  0.02315421,  0.40792596,  1.56224122,
        0.        , -2.05461326,  1.71614992,  0.79269771,  0.        ,
        0.48488031, -1.0542067 , -0.36161755,  2.17787603,  0.40792596,
        0.        , -0.36161755,  0.86965206,  0.56183466,  0.        ,
        2.56264778,  1.17746947,  0.        , -1.74679586,  0.40792596,
        2.71655648, -0.1307545 , -1.0542067 , -0.82334365,  0.        ,
        0.25401726,  0.02315421, -0.5924806 ,  0.94660642, -0.5924806 ,
       -0.2846632 , -0.82334365,  0.48488031, -0.4385719 , -0.4385719 ,
        0.        , -0.47704907, -2.13156761,  0.        ,  1.56224122,
        0.        ,  0.        , -0.82334365,  0.        ,  0.        ,
       -2.21467831,  0.        , -0.97725235,  0.02315421,  0.02315421,
       -0.4385719 , -0.900298  , -0.2846632 , -0.1307545 ,  1.02356077,
       -0.2846632 , -0.4385719 ,  1.87005862,  0.10010856,  0.79269771,
       -0.5924806 , -0.20770885,  0.02315421, -0.5924806 ,  0.        ,
        0.48488031,  2.40873908,  0.48488031,  0.10010856, -1.0542067 ,
        0.        ,  1.21594664,  0.63878901, -1.0542067 ,  0.        ,
        0.        , -0.05380014,  0.86965206,  1.17746947,  1.17746947,
       -2.13156761, -0.4385719 , -0.1307545 , -0.36161755,  0.48488031,
       -0.4385719 ,  0.79269771,  0.        , -2.05461326,  0.94660642,
       -0.51552625,  0.        , -1.13116105, -0.36161755,  0.        ,
       -0.1307545 , -0.5924806 ,  0.63878901,  0.        ,  0.        ,
        0.79269771, -0.05380014,  1.17746947,  0.40792596,  0.        ,
        0.02315421,  2.33178473,  0.        ,  0.        , -0.4385719 ,
       -0.36161755, -0.900298  , -0.82334365, -0.5924806 , -2.05461326,
        0.        , -0.5924806 , -0.20770885, -0.7463893 , -0.82334365,
        0.94660642, -2.20852197,  0.17706291,  0.40792596,  0.        ,
       -0.900298  , -2.20852197,  0.48488031,  0.        , -0.97725235,
        0.48488031, -0.66943495, -0.1307545 , -0.51552625, -0.4385719 ,
       -0.5924806 ,  0.10010856,  1.25442382, -0.51552625, -0.1307545 ,
        0.71574336, -0.2846632 , -0.66943495, -0.1307545 , -0.7463893 ,
        0.33097161,  1.63919557, -2.05461326, -0.66943495,  0.        ,
        0.        ,  0.        ,  0.25401726,  0.        ,  1.10051512,
        0.        ,  0.33097161, -0.900298  ,  0.02315421, -1.51593281,
        0.        , -0.66943495, -0.05380014, -0.1307545 , -0.900298  ,
        0.        , -0.1307545 , -0.82334365,  0.        ,  0.17706291,
       -0.1307545 ,  0.        ,  0.94660642, -0.97725235,  1.56224122,
       -1.20811541, -0.66943495, -0.4385719 ,  2.63960213,  0.10010856,
        1.17746947, -0.7463893 , -0.36161755, -0.1307545 ,  0.        ,
       -1.97765891, -1.28506976,  0.33097161, -1.90070456,  1.71614992,
        0.48488031,  0.        ,  0.02315421,  1.48528687,  0.        ,
       -0.05380014,  2.71655648,  0.        ,  1.56224122,  0.        ,
        1.40833252,  0.33097161,  1.33137817,  1.40833252,  0.        ,
        0.63878901,  0.        ,  2.02396733,  0.        , -2.22776055,
        0.        ,  0.63878901,  0.25401726, -0.51552625, -0.5924806 ,
        0.        ,  0.33097161, -0.05380014, -0.5924806 , -2.13156761,
       -1.59288716,  0.        ,  1.56224122,  2.56264778, -0.36161755,
        0.        ,  0.40792596,  2.17787603,  0.02315421, -1.59288716,
        0.        , -0.66943495,  1.94701297,  3.17828259, -0.66943495,
        0.        ,  1.87005862,  0.        , -0.36161755, -0.4385719 ,
       -0.97725235, -0.66943495,  0.        ,  0.56183466, -1.0542067 ,
       -0.900298  ,  0.25401726,  0.        , -0.1307545 , -0.2846632 ,
       -0.05380014,  0.        ,  0.48488031,  1.87005862, -0.4385719 ,
        1.33137817,  0.33097161,  0.        ,  0.48488031,  0.17706291,
        0.02315421, -0.5924806 ,  0.        ,  1.10051512,  0.        ,
        0.83117489,  1.56224122,  0.        ,  0.71574336, -0.51552625,
       -2.13156761,  0.        , -0.97725235,  0.        ,  0.02315421,
       -1.74679586,  1.17746947,  0.02315421,  0.        , -0.5924806 ,
        0.48488031, -1.59288716, -1.43897846,  0.17706291,  1.56224122,
        2.63960213, -0.82334365,  0.        ,  0.25401726, -1.66984151,
       -0.97725235, -0.20770885,  0.        , -0.5924806 , -0.5924806 ,
        2.48569343,  1.40833252,  0.        ,  0.71574336,  0.48488031,
        0.        ,  0.79269771, -0.1307545 ,  0.        ,  0.        ,
       -0.4385719 , -0.82334365, -0.05380014,  0.        ,  0.17706291,
        2.48569343,  1.79310427,  0.48488031,  0.        , -1.0542067 ,
       -0.82334365,  0.33097161,  0.71574336,  0.        ,  0.17706291,
       -0.36161755,  0.71574336,  1.87005862,  0.48488031,  0.        ,
       -0.900298  ,  1.33137817,  2.33178473, -0.5924806 ,  0.        ,
        0.40792596,  1.71614992,  1.33137817,  0.        ,  0.56183466,
        0.48488031,  0.        ,  1.48528687,  0.        ,  1.48528687,
       -0.4385719 ,  0.        ,  0.        ,  1.10051512,  0.40792596,
        0.48488031,  0.02315421, -0.20770885, -0.5924806 ,  0.79269771,
        0.71574336,  0.        ,  0.        ,  0.        ,  0.40792596,
       -0.4385719 ,  0.33097161, -0.2846632 , -1.97765891, -0.2846632 ,
       -0.20770885,  0.94660642, -0.7463893 , -0.66943495, -0.66943495,
        2.40873908,  2.10092168, -0.66943495, -0.2846632 ,  0.        ,
        3.87087174,  1.63919557,  0.17706291,  0.        , -1.59288716,
       -0.1307545 ,  0.17706291,  0.10010856,  0.86965206,  0.        ,
       -0.7463893 , -0.4385719 , -2.13156761,  0.        , -2.22776055,
        1.40833252, -0.82334365,  2.02396733,  0.        , -0.51552625,
        0.        , -0.900298  , -0.66943495,  0.        , -0.900298  ,
       -0.4385719 ,  0.        ,  0.17706291, -0.51552625,  2.17787603,
        1.56224122,  0.79269771,  1.33137817,  0.48488031, -0.7463893 ,
        0.17706291, -0.36161755,  0.        ,  1.02356077,  0.        ,
        0.79269771,  0.10010856,  3.10132824,  0.10010856,  0.        ,
       -0.900298  , -0.40009472, -0.900298  ,  1.02356077,  0.48488031,
        0.        , -0.20770885, -0.7463893 , -1.20811541,  2.33178473,
       -0.36161755, -1.20811541, -0.82334365, -0.900298  , -1.13116105,
        0.10010856, -1.97765891,  0.        , -0.36161755,  2.33178473,
        1.71614992,  1.10051512,  0.        ,  1.48528687,  0.94660642,
       -0.900298  ,  0.40792596, -0.900298  , -0.36161755, -0.2846632 ,
        0.71574336,  1.17746947,  0.94660642, -0.5924806 ,  0.        ,
       -0.4385719 ,  0.        ,  1.40833252, -0.05380014,  1.71614992,
       -0.82334365,  0.63878901, -0.20770885,  0.        ,  0.25401726,
       -1.82375021, -0.97725235,  0.33097161,  1.56224122, -0.20770885,
       -0.7463893 ,  0.02315421,  0.        , -0.36161755, -0.36161755,
       -0.05380014, -1.43897846,  0.        , -0.51552625, -0.51552625,
       -0.09227732,  1.40833252,  0.40792596,  0.        ,  0.        ,
        0.        ,  0.48488031, -0.66943495, -0.4385719 ,  0.10010856,
        3.10132824, -1.0542067 ,  0.02315421, -0.82334365,  0.10010856,
       -1.97765891, -1.82375021,  0.25401726, -0.51552625,  1.40833252,
       -2.2339169 , -0.1307545 , -0.900298  ,  0.33097161,  0.25401726,
        0.        ,  0.86965206, -0.7463893 ,  0.48488031, -1.0542067 ,
        1.63919557,  0.        ,  0.06163138,  0.        ,  0.17706291,
       -0.4385719 ,  1.40833252,  2.10092168,  0.        ,  1.87005862,
       -0.900298  ,  0.        , -1.90070456,  0.        ,  1.02356077,
       -1.28506976, -0.97725235, -0.05380014,  0.        , -0.36161755,
       -0.36161755, -0.900298  , -1.66984151, -2.20852197,  1.25442382,
        0.        , -1.0542067 ,  0.        ,  0.        , -0.36161755,
        0.71574336,  1.48528687,  0.10010856,  0.02315421,  0.02315421,
        0.33097161,  0.10010856, -1.43897846, -2.25315549, -0.20770885,
        0.10010856,  0.71574336, -0.900298  ,  0.71574336,  0.25401726,
       -0.2846632 ,  0.71574336,  0.40792596, -1.82375021,  0.06163138,
        0.        , -0.51552625,  0.10010856,  1.02356077, -1.51593281,
        1.71614992, -0.20770885,  0.63878901, -0.20770885, -2.13156761,
        0.        ,  0.        , -2.20852197,  0.        ,  2.48569343,
       -1.13116105, -2.2216042 ,  0.        , -0.51552625, -0.900298  ,
        0.71574336, -0.66943495,  0.        ,  0.17706291,  0.        ,
       -0.7463893 , -1.0542067 ,  0.02315421,  0.36944878, -0.97725235,
        0.94660642,  0.        ,  0.40792596, -0.1307545 ,  0.        ,
       -1.97765891,  3.40914564, -1.59288716, -1.0542067 ,  1.10051512,
       -0.900298  ,  1.17746947,  1.63919557, -0.4385719 ,  0.        ,
        0.86965206, -0.66943495,  1.40833252,  0.        , -0.4385719 ,
        0.94660642, -0.20770885,  0.10010856,  0.        , -1.97765891,
       -0.2846632 ,  1.33137817,  0.25401726,  1.33137817, -0.1307545 ,
       -1.13116105, -0.7463893 , -0.82334365,  0.        ,  2.02396733,
       -0.36161755,  0.25401726, -0.5924806 , -0.1307545 , -0.36161755,
        0.71574336, -0.20770885, -0.82334365,  0.        , -0.2846632 ,
        0.17706291])

In [20]:
# 验证：标准化后均值≈0，标准差≈1
print(f"标准化后均值：{age_standardized_sk.mean():.6f}")
print(f"标准化后标准差：{age_standardized_sk.std():.6f}")

标准化后均值：0.000000
标准化后标准差：1.000000

In [23]:
# Age最大值
titanic['Age'].max()

80.0

In [24]:
# 归一化变换
# age_normalized = (age_series - age_series.min()) / (age_series.max() - age_series.min()) #公式
# 查看归一化变换结果
min_max_scaler = MinMaxScaler()
age_normalized_sk = min_max_scaler.fit_transform(age_series.values.reshape(-1, 1)).flatten()

age_normalized_sk

array([0.27117366, 0.4722292 , 0.32143755, 0.43453129, 0.43453129,
       0.36792055, 0.67328474, 0.01985423, 0.33400352, 0.17064589,
       0.04498618, 0.72354863, 0.24604172, 0.48479517, 0.17064589,
       0.68585072, 0.01985423, 0.36792055, 0.3842674 , 0.36792055,
       0.43453129, 0.42196532, 0.18321186, 0.34656949, 0.09525006,
       0.4722292 , 0.36792055, 0.23347575, 0.36792055, 0.36792055,
       0.49736115, 0.36792055, 0.36792055, 0.8240764 , 0.34656949,
       0.52249309, 0.36792055, 0.25860769, 0.22090978, 0.17064589,
       0.49736115, 0.33400352, 0.36792055, 0.03242021, 0.23347575,
       0.36792055, 0.36792055, 0.36792055, 0.36792055, 0.22090978,
       0.08268409, 0.25860769, 0.61045489, 0.35913546, 0.81151043,
       0.36792055, 0.25860769, 0.35285248, 0.05755215, 0.13294798,
       0.27117366, 0.4722292 , 0.560191  , 0.04498618, 0.36792055,
       0.36792055, 0.35913546, 0.23347575, 0.2083438 , 0.32143755,
       0.39683338, 0.19577783, 0.25860769, 0.32143755, 0.39683338,
       0.30887158, 0.36792055, 0.36792055, 0.00515205, 0.37170143,
       0.27117366, 0.35913546, 0.36792055, 0.34656949, 0.2083438 ,
       0.40939935, 0.19577783, 0.36792055, 0.28373963, 0.2963056 ,
       0.35913546, 0.24604172, 0.57275697, 0.32143755, 0.7361146 ,
       0.36792055, 0.88690626, 0.28373963, 0.42196532, 0.42196532,
       0.34656949, 0.36792055, 0.25860769, 0.40939935, 0.45966323,
       0.34656949, 0.25860769, 0.36792055, 0.4722292 , 0.36792055,
       0.58532295, 0.17692888, 0.27117366, 0.24604172, 0.2083438 ,
       0.25860769, 0.88062327, 0.35913546, 0.2963056 , 0.01985423,
       0.25860769, 0.36792055, 0.40311636, 0.40311636, 0.67328474,
       0.14551395, 0.36792055, 0.2963056 , 0.36792055, 0.560191  ,
       0.40939935, 0.24604172, 0.58532295, 0.35913546, 0.30887158,
       0.28373963, 0.23347575, 0.45966323, 0.19577783, 0.2963056 ,
       0.36792055, 0.27117366, 0.2963056 , 0.23347575, 0.22090978,
       0.23347575, 0.33400352, 0.10781603, 0.45338025, 0.52249309,
       0.63558683, 0.27117366, 0.6921337 , 0.50364413, 0.36792055,
       0.63558683, 0.19577783, 0.37170143, 0.36792055, 0.36792055,
       0.54762503, 0.49736115, 0.32143755, 0.2083438 , 0.00728826,
       0.10781603, 0.36792055, 0.560191  , 0.36792055, 0.34656949,
       0.76124654, 0.04498618, 0.00728826, 0.25860769, 0.69841669,
       0.22090978, 0.36792055, 0.62302086, 0.37170143, 0.44709726,
       0.36792055, 0.36792055, 0.10781603, 0.00728826, 0.04498618,
       0.36792055, 0.36792055, 0.560191  , 0.49736115, 0.44709726,
       0.39683338, 0.23347575, 0.23347575, 0.03242021, 0.54762503,
       0.72354863, 0.36792055, 0.52249309, 0.36792055, 0.2963056 ,
       0.34656949, 0.36792055, 0.42196532, 0.56647399, 0.22090978,
       0.01985423, 0.39683338, 0.32143755, 0.19577783, 0.49736115,
       0.2963056 , 0.43453129, 0.27117366, 0.37170143, 0.36792055,
       0.3842674 , 0.33400352, 0.52249309, 0.39683338, 0.37170143,
       0.19577783, 0.33400352, 0.63558683, 0.36792055, 0.4722292 ,
       0.27117366, 0.23347575, 0.2523247 , 0.22090978, 0.36792055,
       0.43453129, 0.35913546, 0.7361146 , 0.05755215, 0.2963056 ,
       0.36792055, 0.54762503, 0.09525006, 0.23347575, 0.40939935,
       0.36792055, 0.36792055, 0.35913546, 0.27117366, 0.37170143,
       0.54762503, 0.30887158, 0.2963056 , 0.45966323, 0.67328474,
       0.36792055, 0.35913546, 0.77381252, 0.37170143, 0.50992712,
       0.35913546, 0.36792055, 0.37170143, 0.43453129, 0.62302086,
       0.36792055, 0.03242021, 0.6481528 , 0.49736115, 0.36792055,
       0.44709726, 0.19577783, 0.30887158, 0.72354863, 0.43453129,
       0.36792055, 0.30887158, 0.50992712, 0.45966323, 0.36792055,
       0.78637849, 0.560191  , 0.36792055, 0.08268409, 0.43453129,
       0.81151043, 0.34656949, 0.19577783, 0.23347575, 0.36792055,
       0.40939935, 0.37170143, 0.27117366, 0.52249309, 0.27117366,
       0.32143755, 0.23347575, 0.44709726, 0.2963056 , 0.2963056 ,
       0.36792055, 0.29002262, 0.01985423, 0.36792055, 0.62302086,
       0.36792055, 0.36792055, 0.23347575, 0.36792055, 0.36792055,
       0.00628299, 0.36792055, 0.2083438 , 0.37170143, 0.37170143,
       0.2963056 , 0.22090978, 0.32143755, 0.34656949, 0.53505906,
       0.32143755, 0.2963056 , 0.67328474, 0.3842674 , 0.49736115,
       0.27117366, 0.33400352, 0.37170143, 0.27117366, 0.36792055,
       0.44709726, 0.76124654, 0.44709726, 0.3842674 , 0.19577783,
       0.36792055, 0.56647399, 0.4722292 , 0.19577783, 0.36792055,
       0.36792055, 0.35913546, 0.50992712, 0.560191  , 0.560191  ,
       0.01985423, 0.2963056 , 0.34656949, 0.30887158, 0.44709726,
       0.2963056 , 0.49736115, 0.36792055, 0.03242021, 0.52249309,
       0.28373963, 0.36792055, 0.18321186, 0.30887158, 0.36792055,
       0.34656949, 0.27117366, 0.4722292 , 0.36792055, 0.36792055,
       0.49736115, 0.35913546, 0.560191  , 0.43453129, 0.36792055,
       0.37170143, 0.74868057, 0.36792055, 0.36792055, 0.2963056 ,
       0.30887158, 0.22090978, 0.23347575, 0.27117366, 0.03242021,
       0.36792055, 0.27117366, 0.33400352, 0.24604172, 0.23347575,
       0.52249309, 0.00728826, 0.39683338, 0.43453129, 0.36792055,
       0.22090978, 0.00728826, 0.44709726, 0.36792055, 0.2083438 ,
       0.44709726, 0.25860769, 0.34656949, 0.28373963, 0.2963056 ,
       0.27117366, 0.3842674 , 0.57275697, 0.28373963, 0.34656949,
       0.48479517, 0.32143755, 0.25860769, 0.34656949, 0.24604172,
       0.42196532, 0.63558683, 0.03242021, 0.25860769, 0.36792055,
       0.36792055, 0.36792055, 0.40939935, 0.36792055, 0.54762503,
       0.36792055, 0.42196532, 0.22090978, 0.37170143, 0.12038201,
       0.36792055, 0.25860769, 0.35913546, 0.34656949, 0.22090978,
       0.36792055, 0.34656949, 0.23347575, 0.36792055, 0.39683338,
       0.34656949, 0.36792055, 0.52249309, 0.2083438 , 0.62302086,
       0.17064589, 0.25860769, 0.2963056 , 0.79894446, 0.3842674 ,
       0.560191  , 0.24604172, 0.30887158, 0.34656949, 0.36792055,
       0.04498618, 0.15807992, 0.42196532, 0.05755215, 0.6481528 ,
       0.44709726, 0.36792055, 0.37170143, 0.61045489, 0.36792055,
       0.35913546, 0.81151043, 0.36792055, 0.62302086, 0.36792055,
       0.59788892, 0.42196532, 0.58532295, 0.59788892, 0.36792055,
       0.4722292 , 0.36792055, 0.69841669, 0.36792055, 0.00414677,
       0.36792055, 0.4722292 , 0.40939935, 0.28373963, 0.27117366,
       0.36792055, 0.42196532, 0.35913546, 0.27117366, 0.01985423,
       0.10781603, 0.36792055, 0.62302086, 0.78637849, 0.30887158,
       0.36792055, 0.43453129, 0.72354863, 0.37170143, 0.10781603,
       0.36792055, 0.25860769, 0.68585072, 0.88690626, 0.25860769,
       0.36792055, 0.67328474, 0.36792055, 0.30887158, 0.2963056 ,
       0.2083438 , 0.25860769, 0.36792055, 0.45966323, 0.19577783,
       0.22090978, 0.40939935, 0.36792055, 0.34656949, 0.32143755,
       0.35913546, 0.36792055, 0.44709726, 0.67328474, 0.2963056 ,
       0.58532295, 0.42196532, 0.36792055, 0.44709726, 0.39683338,
       0.37170143, 0.27117366, 0.36792055, 0.54762503, 0.36792055,
       0.50364413, 0.62302086, 0.36792055, 0.48479517, 0.28373963,
       0.01985423, 0.36792055, 0.2083438 , 0.36792055, 0.37170143,
       0.08268409, 0.560191  , 0.37170143, 0.36792055, 0.27117366,
       0.44709726, 0.10781603, 0.13294798, 0.39683338, 0.62302086,
       0.79894446, 0.23347575, 0.36792055, 0.40939935, 0.09525006,
       0.2083438 , 0.33400352, 0.36792055, 0.27117366, 0.27117366,
       0.77381252, 0.59788892, 0.36792055, 0.48479517, 0.44709726,
       0.36792055, 0.49736115, 0.34656949, 0.36792055, 0.36792055,
       0.2963056 , 0.23347575, 0.35913546, 0.36792055, 0.39683338,
       0.77381252, 0.66071877, 0.44709726, 0.36792055, 0.19577783,
       0.23347575, 0.42196532, 0.48479517, 0.36792055, 0.39683338,
       0.30887158, 0.48479517, 0.67328474, 0.44709726, 0.36792055,
       0.22090978, 0.58532295, 0.74868057, 0.27117366, 0.36792055,
       0.43453129, 0.6481528 , 0.58532295, 0.36792055, 0.45966323,
       0.44709726, 0.36792055, 0.61045489, 0.36792055, 0.61045489,
       0.2963056 , 0.36792055, 0.36792055, 0.54762503, 0.43453129,
       0.44709726, 0.37170143, 0.33400352, 0.27117366, 0.49736115,
       0.48479517, 0.36792055, 0.36792055, 0.36792055, 0.43453129,
       0.2963056 , 0.42196532, 0.32143755, 0.04498618, 0.32143755,
       0.33400352, 0.52249309, 0.24604172, 0.25860769, 0.25860769,
       0.76124654, 0.71098266, 0.25860769, 0.32143755, 0.36792055,
       1.        , 0.63558683, 0.39683338, 0.36792055, 0.10781603,
       0.34656949, 0.39683338, 0.3842674 , 0.50992712, 0.36792055,
       0.24604172, 0.2963056 , 0.01985423, 0.36792055, 0.00414677,
       0.59788892, 0.23347575, 0.69841669, 0.36792055, 0.28373963,
       0.36792055, 0.22090978, 0.25860769, 0.36792055, 0.22090978,
       0.2963056 , 0.36792055, 0.39683338, 0.28373963, 0.72354863,
       0.62302086, 0.49736115, 0.58532295, 0.44709726, 0.24604172,
       0.39683338, 0.30887158, 0.36792055, 0.53505906, 0.36792055,
       0.49736115, 0.3842674 , 0.87434029, 0.3842674 , 0.36792055,
       0.22090978, 0.30258859, 0.22090978, 0.53505906, 0.44709726,
       0.36792055, 0.33400352, 0.24604172, 0.17064589, 0.74868057,
       0.30887158, 0.17064589, 0.23347575, 0.22090978, 0.18321186,
       0.3842674 , 0.04498618, 0.36792055, 0.30887158, 0.74868057,
       0.6481528 , 0.54762503, 0.36792055, 0.61045489, 0.52249309,
       0.22090978, 0.43453129, 0.22090978, 0.30887158, 0.32143755,
       0.48479517, 0.560191  , 0.52249309, 0.27117366, 0.36792055,
       0.2963056 , 0.36792055, 0.59788892, 0.35913546, 0.6481528 ,
       0.23347575, 0.4722292 , 0.33400352, 0.36792055, 0.40939935,
       0.07011812, 0.2083438 , 0.42196532, 0.62302086, 0.33400352,
       0.24604172, 0.37170143, 0.36792055, 0.30887158, 0.30887158,
       0.35913546, 0.13294798, 0.36792055, 0.28373963, 0.28373963,
       0.35285248, 0.59788892, 0.43453129, 0.36792055, 0.36792055,
       0.36792055, 0.44709726, 0.25860769, 0.2963056 , 0.3842674 ,
       0.87434029, 0.19577783, 0.37170143, 0.23347575, 0.3842674 ,
       0.04498618, 0.07011812, 0.40939935, 0.28373963, 0.59788892,
       0.00314149, 0.34656949, 0.22090978, 0.42196532, 0.40939935,
       0.36792055, 0.50992712, 0.24604172, 0.44709726, 0.19577783,
       0.63558683, 0.36792055, 0.37798442, 0.36792055, 0.39683338,
       0.2963056 , 0.59788892, 0.71098266, 0.36792055, 0.67328474,
       0.22090978, 0.36792055, 0.05755215, 0.36792055, 0.53505906,
       0.15807992, 0.2083438 , 0.35913546, 0.36792055, 0.30887158,
       0.30887158, 0.22090978, 0.09525006, 0.00728826, 0.57275697,
       0.36792055, 0.19577783, 0.36792055, 0.36792055, 0.30887158,
       0.48479517, 0.61045489, 0.3842674 , 0.37170143, 0.37170143,
       0.42196532, 0.3842674 , 0.13294798, 0.        , 0.33400352,
       0.3842674 , 0.48479517, 0.22090978, 0.48479517, 0.40939935,
       0.32143755, 0.48479517, 0.43453129, 0.07011812, 0.37798442,
       0.36792055, 0.28373963, 0.3842674 , 0.53505906, 0.12038201,
       0.6481528 , 0.33400352, 0.4722292 , 0.33400352, 0.01985423,
       0.36792055, 0.36792055, 0.00728826, 0.36792055, 0.77381252,
       0.18321186, 0.00515205, 0.36792055, 0.28373963, 0.22090978,
       0.48479517, 0.25860769, 0.36792055, 0.39683338, 0.36792055,
       0.24604172, 0.19577783, 0.37170143, 0.4282483 , 0.2083438 ,
       0.52249309, 0.36792055, 0.43453129, 0.34656949, 0.36792055,
       0.04498618, 0.92460417, 0.10781603, 0.19577783, 0.54762503,
       0.22090978, 0.560191  , 0.63558683, 0.2963056 , 0.36792055,
       0.50992712, 0.25860769, 0.59788892, 0.36792055, 0.2963056 ,
       0.52249309, 0.33400352, 0.3842674 , 0.36792055, 0.04498618,
       0.32143755, 0.58532295, 0.40939935, 0.58532295, 0.34656949,
       0.18321186, 0.24604172, 0.23347575, 0.36792055, 0.69841669,
       0.30887158, 0.40939935, 0.27117366, 0.34656949, 0.30887158,
       0.48479517, 0.33400352, 0.23347575, 0.36792055, 0.32143755,
       0.39683338])

In [25]:
# 验证：归一化后最小值≈0，最大值≈1
print(f"归一化后最小值：{age_normalized_sk.min():.6f}")
print(f"归一化后最大值：{age_normalized_sk.max():.6f}")

归一化后最小值：0.000000
归一化后最大值：1.000000

In [26]:
# 对数变换
import numpy as np
titanic['Age_log'] = np.log(titanic['Age'])
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_centered,Age_log
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,-7.699118,3.091042
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,8.300882,3.637586
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,-3.699118,3.258097
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5.300882,3.555348
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5.300882,3.555348