# 描述性统计分析

In [5]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [6]:
titanic = pd.read_csv('../02数据预备_清洗及特征工程/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
# 指定任意分位点的分位数
titanic.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

TypeError: unsupported operand type(s) for -: 'str' and 'str'

目前似乎不能自动筛选数值列，需要手动筛选一下

In [9]:
numeric_cols = titanic.select_dtypes(include = ['float64', 'int64']).columns
titanic_numeric = titanic[numeric_cols]

titanic_numeric.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

     PassengerId  Survived  Pclass   Age  SibSp  Parch      Fare
0.1         90.0       0.0     1.0  14.0    0.0    0.0    7.5500
0.2        179.0       0.0     1.0  19.0    0.0    0.0    7.8542
0.3        268.0       0.0     2.0  22.0    0.0    0.0    8.0500
0.4        357.0       0.0     2.0  25.0    0.0    0.0   10.5000
0.5        446.0       0.0     3.0  28.0    0.0    0.0   14.4542
0.6        535.0       0.0     3.0  31.8    0.0    0.0   21.6792
0.7        624.0       1.0     3.0  36.0    1.0    0.0   27.0000
0.8        713.0       1.0     3.0  41.0    1.0    1.0   39.6875
0.9        802.0       1.0     3.0  50.0    1.0    2.0   77.9583
1.0        891.0       1.0     3.0  80.0    8.0    6.0  512.3292