In [1]:
import numpy as np
import pandas as pd

In [2]:
mylist = list('abc')

myarr = np.arange(3)

mydict = dict(zip(mylist, myarr))

print("list: {}\nmyarr: {}\nmydict: {}\n".format(mylist, myarr, mydict))

list: ['a', 'b', 'c']
myarr: [0 1 2]
mydict: {'a': 0, 'b': 1, 'c': 2}

In [5]:
df = pd.DataFrame(
    np.array([1,2,7,106,3,42]).reshape(2,3),
    index = ['type', 'cnt'],
    columns = [0,1,2]
)

In [6]:
df

        0  1   2
type    1  2   7
cnt   106  3  42

In [7]:
df2 = df.T

In [8]:
df2

   type  cnt
0     1  106
1     2    3
2     7   42