In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('work6-3.xlsx', sheet_name='Sheet1', skiprows = [0])

In [4]:
df

  客户名称 产品类型 产品型号  销量
0   张三  电脑包    A  20
1   张三  公文包    B  60
2   李四  电脑包    A  12
3   李四  公文包    B  67
4   王五  电脑包    A  31
5   王五  公文包    B  91

In [22]:
CustomerSales = df.groupby('客户名称')['销量'].sum().reset_index()

In [23]:
CustomerSales

  客户名称   销量
0   张三   80
1   李四   79
2   王五  122

In [25]:
CustomerSales = CustomerSales.sort_values('销量', ascending = False).reset_index(drop = True)

In [26]:
CustomerSales

  客户名称   销量
0   王五  122
1   张三   80
2   李四   79

In [27]:
def GetImportance(rank):
    if rank <= 2: #前两名
        return '* * *'
    elif 3 <= rank <=5:
        return '* *'
    else:
        return '*'

In [28]:
CustomerSales['重要程度'] = CustomerSales.index.map(lambda x: GetImportance(x+1))

In [29]:
CustomerSales

  客户名称   销量   重要程度
0   王五  122  * * *
1   张三   80  * * *
2   李四   79    * *

In [30]:
result = CustomerSales[['重要程度','客户名称', '销量']]

In [34]:
result

    重要程度 客户名称   销量
0  * * *   王五  122
1  * * *   张三   80
2    * *   李四   79