In [1]:
import pandas as pd
import numpy as np

In [6]:
true_data = np.array(['B','B','B','B','B','B','B','B','B','B',
                      'B','B','B','B','B','B','B','M','M','B',
                      'B','M','M','M','B','B','M','M','B','M',
                      'B','M','M','M','B','B','M','M','B','M',
                      'B','M','M','M','B','B','M','M','B','M',
                      'M','B','B','B','B','B','B'])
pred_data = np.array(['B']*36 + ['M']*2 + ['M']*17 + ['B']*2)

In [7]:
cross_tab = pd.crosstab(true_data, pred_data, rownames=['确诊'], colnames=['预测'], margins=True)

In [8]:
cross_tab

预测    B   M  All
确诊
B    27   9   36
M    11  10   21
All  38  19   57

In [9]:
data = {
    "HAND": ["right", "left", "right", "left", "left"],
    "sex": ["男", "女", "男", "男", "女"],
    "iq": [61, 99, 94, 60, 52],
    "eq": [51, 52, 91, 67, 84]
}
df = pd.DataFrame(data)

In [13]:
pivot = pd.pivot_table(
    df,
    index="HAND",
    columns="sex",
    values=["iq", "eq"],
    aggfunc="mean"
)

In [14]:
pivot

         eq          iq
sex       女     男     女     男
HAND
left   68.0  67.0  75.5  60.0
right   NaN  71.0   NaN  77.5